@font-face {
  font-family: "BinggraeII";
  src: url("https://dawsycat.github.io/css/Binggrae.eot"); /* IE9 Compat Modes */
  src: url("https://dawsycat.github.io/css/Binggrae.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://dawsycat.github.io/css/Binggrae.otf") format("opentype"), /* Open Type Font */
  url("https://dawsycat.github.io/css/Binggrae.svg") format("svg"), /* Legacy iOS */
  url("https://dawsycat.github.io/css/Binggrae.ttf") format("truetype"), /* Safari, Android, iOS */
  url("https://dawsycat.github.io/css/Binggrae.woff") format("woff"), /* Modern Browsers */
  url("https://dawsycat.github.io/css/Binggrae.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body{font-family: 'BinggraeII';
}
