/* custom-emote */
.fr-command.fr-emoticon>img,
.fr-command.fr-emoticon {
  width: 30px !important;
  height: 30px !important;
}

#article-content-wrapper #article-content img[alt='JKanStyle'],
img[alt='JKanStyle'] {
  width: 60px;
  height: 60px !important;
  padding-left: 60px;
  background: url(https://cdn.discordapp.com/attachments/562409195539005444/583264000997982209/Dancing_bongsoon.gif) no-repeat;
  background-size: 60px;
  background-position: center;
}

span[data-param1='JKanStyle']:hover>img,
span[data-param1='JKanStyle']>img {
  width: 30px;
  height: 30px;
  padding-left: 30px;
  background: url(https://cdn.discordapp.com/attachments/562409195539005444/583264000997982209/Dancing_bongsoon.gif) no-repeat;
  background-size: 30px;
  background-position: center;
}

#article-content-wrapper #article-content img[alt='OptimizePrime'],
img[alt='OptimizePrime'] {
  width: 60px;
  height: 60px !important;
  padding-left: 60px;
  background: url(https://cdn.discordapp.com/attachments/562409195539005444/583272626001281034/bongsoonarmpit.gif) no-repeat;
  background-size: 60px;
  background-position: center;
}

span[data-param1='OptimizePrime']:hover>img,
span[data-param1='OptimizePrime']>img {
  width: 30px;
  height: 30px;
  padding-left: 30px;
  background: url(https://cdn.discordapp.com/attachments/562409195539005444/583272626001281034/bongsoonarmpit.gif) no-repeat;
  background-size: 30px;
  background-position: center;
}


