/*header*/

/*logo*/
header .row>div:nth-child(1)>a {
  display: block;
  width: 220px;
  height: 90px;
  background: url(https://dawsycat.github.io/css/christmasbiglogo2.png) no-repeat;
  background-size: auto 80px;
  margin-bottom:-10px;
  margin-top:-30px;
}

header .row>div:nth-child(1) > a > img {
    display: none;
}



header #right-search-form>input[type='text'],
header #right-search-form>input[type='text']:hover,
header #right-search-form>input[type='text']:focus {
	border: 3px solid #f48fb1;
        border-radius: 20px;
	transform: scale(1.05);
	transition: 0.2s;
}


/* search button round */

header #right-search-form>#right-search-btn,
header #right-search-form>#right-search-btn:hover,
header #right-search-form>#right-search-btn:focus {
	color: #f48fb1;
	transform: scale(1.25);
	transition: 0.2s;
}


/*menu*/

header #header-bar #header-top-notice strong.notice-badge {
    background: #f48fb1;
    border-radius: 15px;
}

header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {
    border-radius: 10px;
}

header #header-bar>.row {
    border-top: 5px solid #f48fb1 !important;
    border: 2px solid #f48fb1;
    border-radius: 15px 15px 0 0;
}


header #header-bar a.dropdown-toggle {
    display: inline-block;
    color: #f48fb1;
    text-decoration: none;
    padding: 0.3em 0;
}



/*body*/

html{
  height:inherit;
  padding:20px 45px 45px; 0 0/250px 60px;
  background: linear-gradient(#ffd6e8 0%, #fd848d 60%,#a17ff99e 80%, #ff00f4de 120%);
  height: auto !important;
}
body{
height:initial;
padding-bottom:0;
min-width:1140px;
background: transparent;
min-width:1140px;
/*background snowflake*/
animation: snow 35s linear infinite;
background-image:
url("https://dawsycat.github.io/css/snow.png"), 
url("https://dawsycat.github.io/css/snow2.png"), 
url("https://dawsycat.github.io/css/snow3.png");

}
/*snowflake anim*/

@keyframes snow {

0% {background-position: 0px 0px, 0px 0px, 0px 0px;}

100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}

}

/*main*/

#main #main-content.frame{
height:100%;border:1px solid rgba(0,0,0,.15);border-width:1px 2px 2px 1px;padding:5px;margin-bottom:15px;
}

#main .menu-wrapper {
    border: 2px solid #f48fb1;
    border-radius: 10px 10px 0 0;
    border-top: 1px solid #f48fb1 !important;
}

#main .menu-wrapper>.header {
    background: linear-gradient(150deg,#f48fb1 20%, transparent 50%,transparent 98%);
    border-radius: 8px 8px 0 0;
}


#main .menu-wrapper .spacer {
    background: none;
}

#main #main-content>div.frame {
    border-top: 5px solid #f97fb3;
    border: 2px solid #f97fb3;
}



#main .menu-wrapper>a{
    display: block;
    background: #fff;
    font-size: 13.5px;
    color: #000;
    padding: 0.5em 1.5em 0.5em 0.7em;
    border-bottom: 2px solid #f1f1f1;
}
#main .menu-wrapper>a>em {

    color: #fce4ec;

}



/*article*/


#article-list>.article-list-row>.item>.list-title>.list-category>span{
overflow: visible;}

#article-list>.article-list-row.notice {
    border-left:2px solid #f8bbd0;
    border-right:2px solid #f8bbd0;
    background-color: #fff5f9;
}

#article-list>.article-list-row>.item>.list-title>a {
    color: #000;
    text-decoration: none;
    line-height: 18px;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 450px;
    height: 20px;
    overflow: visible;
    margin-right: 5px;
    float: left;
}

#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time{
    border-bottom: 2px dashed #ffe8f0;
    display: table-cell;
    vertical-align: middle;
}

#article-info {
	background: white;
	border: 2px solid  #f8bbd0;
	border-bottom: 1px;
	margin-top: 0.5em;
}


#article-info>h2 {
	margin-top: 5px;
	margin-left: 5px;
}


#article-info #article-info-writer,
#article-content-wrapper>.header>#article-time {
	margin-left: 8px;
}

#article-content-wrapper>.header>#article-views {
	margin-right: 8px;
}

#article-content-wrapper {
	padding: 0;
	background: #ffffff;
	border: 2px solid #f8bbd0;
	border-bottom: 1px;
}

#article-content-wrapper>.header {
	border-top: none;
	border-bottom: 2px solid #f8bbd0;
	background: transparent;
}


#article-content-wrapper>.footer {
	border-top: 2px solid #f8bbd0;
	background: white;
}

#article-content-wrapper #article-content {
	margin: 0.5em;
	border: none;
}


#article-neighbor-list {
    background: white;
}

#article-neighbor-list>div:hover,
#article-neighbor-list>div:focus {
	background: linear-gradient(to right, white,  #f8bbd0, white);
}

#article-neighbor-list>div>a,
#article-neighbor-list>div>span.indicator,
#article-neighbor-list>div>span.author {
	color:  #f8bbd0;
}

#article-list>.article-list-row>.item>.list-header>span {

    color: #f48fb1;
    background-color: transparent;

}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #f48fb1;
}


#article-list>.article-list-row.hot  {background: linear-gradient(-45deg, #f48fb1, #fce4ec, #ffe8f0, #f48fb1);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
};} 

background-color: #f48fb1;
}



#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {

    color: #e91e63;

}

*:focus{ outline: none !important;
}

/*article anim*/

#article-list>.article-list-row {
	border: none;
	transition: 0.2s;
}

#article-list>.article-list-row:hover,
#article-list>.article-list-row:focus {
	background-color: #fce4ec;
	transform: scale(1.01);
	transition: 0.2s;
}


#article-list #article-list-menu>.btn.best {
	color: #efc839 !important; 
 	border-radius: 15px;

}

#article-list #article-list-menu>.btn.cog,
#article-list #article-list-menu>.btn.del,
#article-list #article-list-menu>.btn.write{
    border-radius: 15px;
}


/*buttons*/


.btn-info {
    color: #fff !important;
    border-radius:15px;
    background-color: #f8bbd0 ;
    border-color: transparent;
}

.btn-default {
    color: #333 !important;
    border-radius:15px;
    background-color: #fff ;
    border-color: #ccc;
}

button#writeCommentBtn:hover{
    background: #f8bbd0 !important; 
    transition: all 150ms ease-in-out;
}
button#article-write-button:hover{
background: #f8bbd0 !important; 
    transition: all 150ms ease-in-out;
}

#board-info #board-info-bottom #addFavoriteBtn{
color:#fbc709;
font-size: 18px;
}

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
}

.btn-default.active.focus,.btn-default:active:hover,.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:hover {
    color: #fff !important;
    background-color: #ec407a;
    border-color: transparent;
}

.btn.square {
     border-radius:15px 0 0 15px;
     color: #fff !important;
        border: 1px solid #f8bbd0;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    border-radius: 0 15px 15px 0;
}


.btn-outline-success {
    border-radius: 15px;
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}

.btn-outline-primary {
    color: #0275d8;
    border-radius: 15px;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
}


.btn-primary {
    color: white !important;
    background-color: #f48fb1;
    border-color: transparent;
    border-radius: 15px;
}

.btn-primary:hover {
    color: white !important;
    background-color: #ec407a;
    border-color: transparent;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff !important;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff !important;
    background-color: #f48fb1;
    border-color: transparent;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff !important;
    background-color: #f48fb1;
    border-color: transparent;
}



